@import "~styles/variables/colors";

.Pagination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 0.25rem;

  &-button {
    width: 2rem;
    height: 2rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &-active {
      position: absolute;
      top: 0;
      color: #fff;
      background-color: $color-primary;
      z-index: 1;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.25s ease;
    }

    // &_selected {
    //   background-color: $color-primary !important;
    //   color: #ffffff;
    // }
  }
}
