.notification {
  visibility: hidden;
  position: fixed;
  width: 350px;
  min-height: 56px;
  padding: 1rem 52px 1rem 52px;
  font-weight: 400;
  line-height: 1.2;
  border-radius: 1rem;
  transition: transform 0.25s ease-out;
  z-index: 9999;
  user-select: none;
  color: #ffffff;
  background-color: #0b1f35;
  box-shadow: 0 4px 16px rgb(11 31 53 / 12%), 0 1px 2px rgb(11 31 53 / 24%);
  box-sizing: border-box;

  &-visible {
    visibility: visible!important;
    transform: translate(0, 0)!important;
  }

  &__icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__title {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
  }

  &__content {
    margin-top: 0.5rem;
    font-size: 0.8125rem;
  }

  &__stick-to {
    &_left {
      left: 1rem;
      transform: translate(-350px, 0);
    }

    &_right {
      right: 1rem;
      transform: translate(350px, 0);
    }
  }

  &__closer {
    position: absolute;
    top: 1rem;
    right: 1rem;

    button {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;

      svg {
        fill: #959EA7;
        transition: 0.25s ease;

        &:hover {
          fill: #fff;
        }
      }
    }
  }
}