@import "~styles/mixins/grid";
@import "~styles/variables/media";

.ep-col {
  @include generate-sme-columns($space-normal);
  @include generate-column(md, $space-normal);
  &_stretch {
    display: flex;
  }
  .ep-row_adaptive & {
    @media #{$desktop-m-min} {
      @include generate-column(lg, $space-large);
    }
    @media #{$desktop-s} {
      @include generate-column(md, $space-normal);
    }
    @media #{$mobile-m} {
      @include generate-column(xs, $space-small);
    }
    .ep-row_temporary & {
      @include generate-sme-columns($space-normal);
    }
    @media #{$desktop-m-min} {
      @include generate-sme-columns($space-large);
    }
  }
}
.ep-col-offset {
  @include generate-sme-offset-columns();
  @media #{$mobile-m-interval} {
    @include generate-offset-columns(xs);
  }
  @media #{$desktop-s} {
    @include generate-offset-columns(md);
  }
  @media #{$desktop-m-min} {
    @include generate-offset-columns(lg);
  }
}

@mixin margin_generate($direction) {
  @for $i from 1 to 7 {
    .ep-col_m#{$direction}-#{$i} {
      @if $direction == "l" {
        margin-left: $i * 0.25rem;
      } @else if $direction == "r" {
        margin-right: $i * 0.25rem;
      } @else if $direction == "t" {
        margin-top: $i * 0.25rem;
      } @else if $direction == "b" {
        margin-bottom: $i * 0.25rem;
      }
    }
  }
}

@include margin_generate("t");
@include margin_generate("l");
@include margin_generate("r");
@include margin_generate("b");