@import "~styles/variables/colors";

.BottomDrawer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: inherit;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;

  &-backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // touch-action: none;
    will-change: opacity;
  }

  &-curtain {
    position: relative;
    max-height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    will-change: transform;
  }

  &-handle {
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background-color: #fff;
    pointer-events: none;
    border-radius: 0.25rem;
  }

  &-content {
    position: relative;
    border-radius: 1rem 1rem 0 0;
    background-color: $color-background;
    overflow: auto;

    &-hide-scrollbars {
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
      }
    }

    &-inner {
      padding: 1rem;
    }
  }
}
