.multiple-select {
  z-index: 123;
  color: var(--ep-text-color);

  &-checkbox {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
  }

  &-item {
    transition: all 0.25s ease;
    border-radius: 0.25rem;

    &:hover {
      background-color: var(--ep-item);
    }
  }

  &-popup {
    background-color: var(--ep-background-color);
    box-shadow: var(--ep-popup-shadow);
    border-radius: 0.5rem;
    padding: 0.5rem;
    max-height: calc(2.5rem * 6);
    overflow-y: scroll;
  }
}
