@import "~styles/variables/variables";

.Button {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  transform: scale(1);
  transition: 0.1s transform ease, 0.15s background ease;
  border: 2px;
  border-radius: 0.5rem;
  font-family: $font-family;
  font-size: 1rem;
  touch-action: manipulation;

  &-rounded {
    border-radius: 50%;
  }

  &-pressed {
    transform: scale(0.96);
  }

  &-progress {
    background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.15) 25%,
      transparent 0,
      transparent 50%,
      hsla(0, 0%, 100%, 0.15) 0,
      hsla(0, 0%, 100%, 0.15) 75%,
      transparent 0,
      transparent
    );
    background-size: 1rem 1rem;
    animation: progress-stripes 0.25s linear infinite;
  }

  &-label {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &-justify {
      &_center {
        justify-content: center;
      }

      &_space-around {
        justify-content: space-around;
      }
    }

    &_right,
    &_left {
      display: inline-flex;
    }
  }

  &-view {
    &_default {
      background-color: $color-lightgray;
    }
    &_action {
      background-color: $color-primary;
      color: $color-background;
      &:hover {
        background-color: darken($color-primary, 20%);
      }

      &.Button-disabled {
        background-color: lighten($color: $color-primary, $amount: 25%);
      }
    }
    &_default {
      color: $color-text;
      background-color: $color-lightgray;
      &.btn-clicked,
      &:hover {
        background-color: darken($color-background, 20%);
      }
    }
    &_link {
      border: 1px solid $color-lightblue;
      color: $color-lightblue;
      background-color: $color-background;
      &:hover {
        background-color: lighten($color-lightblue, 21%);
      }
    }
    &_pseudo {
      border: 2px solid $color-gray;
    }
    &_clear {
      color: $color-darkgray;
      background-color: transparent;
      &:hover {
        color: $color-text;
      }
    }
    &_raised {
      box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.17);
    }
  }

  &-size {
    &_sm {
      height: 1.875rem;
    }
    &_md {
      height: 2.5rem;
    }
    &_lg {
      font-size: 1.125rem;
      height: 3.125rem;
    }
    &_xl {
      font-size: 1.375rem;
      height: 3.725rem;
    }
  }

  &-width {
    &_available {
      width: 100%;
    }
  }
}
