@import "~styles/variables/variables";

.Button {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  transform: scale(1);
  transition: background, width, color,
    transform $transition-duration$transition-type;
  border: 2px;
  border-radius: 0.5rem;
  font-family: $font-family;
  font-size: 1rem;

  &-clicking {
    transform: scale(0.9);
  }

  &-color {
    &_primary {
      background-color: $color-primary;
    }
    &_secondary {
      background-color: $color-secondary;
    }
    &_accent {
      background-color: $color-accent;
    }
    &_success {
      background-color: $color-success;
    }
    &_danger {
      background-color: $color-danger;
    }
  }

  &-label {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

    &-justify {
      &_center {
        justify-content: center;
      }

      &_space-arround {
        justify-content: space-around;
      }
    }
  }

  &-view {
    &_default {
      background-color: $color-lightgray;
    }
    &_action {
      background-color: $color-primary;
      color: $color-background;
      &:hover {
        background-color: darken($color-primary, 20%);
      }
    }
    &_default {
      color: $color-text;
      background-color: $color-lightgray;
      &.btn-clicked,
      &:hover {
        background-color: darken($color-background, 20%);
      }
    }
    &_link {
      border: 1px solid $color-lightblue;
      color: $color-lightblue;
      background-color: $color-background;
      &:hover {
        background-color: lighten($color-lightblue, 21%);
      }
    }
    &_pseudo {
      border: 2px solid $color-gray;
    }
    &_clear {
      color: $color-darkgray;
      background-color: transparent;
      &:hover {
        color: $color-text;
      }
    }
    &_raised {
      box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.17);
    }
  }

  &-size {
    &_sm {
      height: 1.875rem;
    }
    &_md {
      height: 2.5rem;
    }
    &_lg {
      font-size: 1.125rem;
      height: 3.125rem;
    }
    &_xl {
      font-size: 1.375rem;
      height: 3.725rem;
    }
  }

  &-width {
    &_available {
      width: 100%;
    }
  }
}
