@import "~styles/variables/variables";

.Button {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  transform: scale(1);
  transition: 0.1s transform ease-in-out, 0.15s background-color ease-in-out;
  border: 2px;
  border-radius: 0.75rem;
  font-family: $font-family;
  font-size: 1rem;
  touch-action: manipulation;

  &:disabled {
    opacity: 0.6;
    cursor: auto;
  }

  &-rounded {
    border-radius: 50%;
  }

  &-pressed {
    transform: scale(0.96);
  }

  &-progress {
    background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 100%, 0.15) 25%,
      transparent 0,
      transparent 50%,
      hsla(0, 0%, 100%, 0.15) 0,
      hsla(0, 0%, 100%, 0.15) 75%,
      transparent 0,
      transparent
    );
    background-size: 1rem 1rem;
    animation: progress-stripes 0.25s linear infinite;
  }

  &-label {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &-justify {
      &_center {
        justify-content: center;
      }

      &_space-around {
        justify-content: space-around;
      }
    }

    &_right,
    &_left {
      display: inline-flex;
    }
  }

  &-view {
    &_default {
      color: var(--ep-text-color);
      background-color: var(--ep-button-background);
      &.btn-clicked,
      &:hover {
        background-color: var(--ep-button-background-hovered);
      }
    }
    &_action {
      background-color: $color-primary;
      color: $color-background;
      &:hover {
        background-color: darken($color-primary, 20%);
      }

      &.Button-disabled {
        background-color: lighten($color-primary, 25%);
      }
    }
    &_link {
      border: 1px solid $color-lightblue;
      color: $color-lightblue;
      background-color: var(--ep-button-background);
      &:hover {
        background-color: var(--ep-button-background-hovered);
      }
    }
    &_pseudo {
      background-color: var(--ep-background-color);
      color: var(--ep-text-color);
      border: 2px solid var(--ep-impl-button-pseudo-border);
    }
    &_clear {
      color: $color-darkgray;
      background-color: var(--ep-background-color);
      transition: color 0.25s ease;

      &:hover {
        color: var(--ep-text-color);
      }
    }
    &_raised {
      background-color: var(--ep-background-color);
      box-shadow: var(--ep-popup-shadow);
      color: var(--ep-text-color);
    }
    &_accent {
      color: $color-background;
      background-color: $color-accent;

      &:hover {
        background-color: darken($color-accent, 10%);
      }
    }
  }

  &-size {
    &_xs {
      height: 1.5rem;
    }
    &_sm {
      height: 1.875rem;
    }
    &_md {
      height: 2.5rem;
    }
    &_lg {
      font-size: 1.125rem;
      height: 3.125rem;
    }
    &_xl {
      font-size: 1.375rem;
      height: 3.725rem;
    }
  }

  &-width {
    &_available {
      width: 100%;
    }
  }
}
