@import "~styles/variables/animations";

.dropdown {
  position: relative;
  display: inline-block;

  &-fullwidth {
    width: 100%;
  }

  &-toggle {
    display: inline-block;
  }

  &-transition {
    &_fade {
      @include fade-animations(0.25);
    }

    &_slide {
      @include slide-y-animation(0.25);
    }
  }

  &-item {
    display: block;
    z-index: 10;
    position: absolute;
    box-sizing: border-box;

    &::before {
      content: "";
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      background-color: var(--ep-background-color);
      transform: rotate(135deg);
      top: -0.375rem;
      left: 0.75rem;
    }

    &-clearly {
      &::before {
        opacity: 0;
      }
    }

    &-direction {
      &_bottom-left {
        top: calc(100% + 10px);
      }

      &_bottom-center {
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        &::before {
          left: 50%;
          transform: translateX(-50%) rotate(135deg);
        }
      }
      &_bottom-right {
        top: calc(100% + 10px);
        right: 0;
        &::before {
          left: initial;
          right: 0.75rem;
        }
      }
      &_top-left {
        bottom: calc(100% + 10px);
        &::before {
          top: initial;
          bottom: -0.375rem;
          left: 0.75rem;
        }
      }
      &_top-right {
        bottom: calc(100% + 10px);
        right: 0;
        &::before {
          top: initial;
          bottom: -0.375rem;
          left: initial;
          right: 0.75rem;
        }
      }
      &_top-center {
        bottom: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        &::before {
          top: initial;
          bottom: -0.375rem;
          left: 50%;
          transform: translateX(-50%) rotate(135deg);
        }
      }
    }

    &-content {
      box-shadow: 0 0 0.75rem 0.25rem rgba(0, 0, 0, 0.2);
      border-radius: 2rem;
      width: 100%;
      background-color: var(--ep-background-color);
      overflow: hidden;
    }
  }
}
