@import "~styles/variables/variables";
.toggle-block {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 0.25rem;
  color: var(--ep-text-color);
  font-family: var(--ep-font-family);

  &-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    background-color: var(--ep-item);
    cursor: pointer;
    user-select: none;
    transition: background 0.25s ease-in-out;
    height: 3.85rem;

    &-selected {
      background-color: var(--ep-item-hovered);
    }
  }
}
