@import "~styles/variables/variables";

.input-count {
  &-controller {
    display: flex;
    flex-direction: column;
    color: var(--ep-text-color);
  }

  &-control {
    &-rigth {
      right: 0;
    }
  }

  &-plus {
    border-top-right-radius: 0.5rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 1rem;
      height: 0.125rem;
      background: currentColor;
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  &-minus {
    border-bottom-right-radius: 0.5rem;
    border-top: 4px solid var(--ep-background-color);

    &::before {
      content: "";
      position: absolute;
      width: 1rem;
      height: 0.125rem;
      background: currentColor;
    }
  }

  &-plus,
  &-minus {
    display: flex;
    background-color: var(--ep-item);
    width: 4rem;
    height: calc(4rem / 2 - 0.25rem);
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-left: 4px solid var(--ep-background-color);
    transition: background-color 0.25s ease;

    &:hover {
      background-color: var(--ep-item-hovered);
    }
  }
}
