.autocomplete {
  box-shadow: var(--ep-popup-shadow);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0.5rem;
  overflow-y: auto;
  max-height: 300px;
  margin-top: 0.5rem;

  &-item {
    font-family: var(--ep-font-family);
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.25s ease;

    &-selected,
    &:hover {
      color: var(--ep-text-color);
      background-color: var(--ep-item-hovered);
    }
  }
}
