@import "~styles/variables/colors";

.input-password {
  position: relative;
  &-toggler {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    transition: background-color 0.25s ease;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background-color: darken($color-platinum, 10%);
    }
  }
}
