@import "~styles/variables/colors";

.input-password {
  position: relative;
  color: var(--ep-text-color);

  &-toggler {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    transition: background-color 0.25s ease;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background-color: var(--ep-item-hovered);
    }
  }

  &-validate {
    font-size: 0.875rem;
    color: red;

    &-advice {
      font-size: 0.8125rem;
      line-height: 1.5em;
    }
  }
}
