.multiple-select {
  &-label {
    position: absolute;
    font-size: 0.8125rem;
  }

  &-value {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1rem;
    box-sizing: border-box;
    width: calc(100% - 3rem);
    z-index: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    color: var(--ep-text-color);
    height: 1rem;
  }

  &-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
    color: var(--ep-text-color);
  }
}
