@import "~styles/variables/colors";
@import "~styles/variables/animations";

.progress {
  display: flex;
  height: 1rem;
  background: $color-platinum;
  overflow: hidden;
  border-radius: 0.5rem;

  &-bar {
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    transition: width 0.6s ease;

    &-striped {
      background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
      background-size: 1rem 1rem;
    }

    &-animated {
      animation: progress-stripes 1s linear infinite;
    }

    &.progress-color_primary {
      background-color: $color-primary;
    }

    &.progress-color_secondary {
      background-color: $color-secondary;
    }

    &.progress-color_accent {
      background-color: $color-accent;
    }
  }
}