.radio-button {
  position: relative;
  box-sizing: border-box;

  &-wrapper {
    

    &::after {
      position: absolute;
      content: "";
      opacity: 1;
      border-radius: 50%;
      background-color: #ffffff;
      transition: opacity 0.1s, transform 0.2s;
      transform: scale(0.1);
    }
  }

  &-control {
    cursor: pointer;
    position: absolute;
    opacity: 0;
  }
}
