@import "~styles/variables/variables";

.paragraph {
  &-size {
    &_xs {
      font: $font-text-xs;
    }

    &_sm {
      font: $font-text-sm;
    }

    &_md {
      font: $font-text-md;
    }

    &_lg {
      font: $font-text-lg;
    }

    &_xl {
      font: $font-text-xl;
    }
  }
}
