@import "~styles/variables/variables";

.card {
  max-width: 430px;
  width: 100%;
  height: 270px;
  box-sizing: border-box;
  position: relative;
  gap: 3rem;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  font-family: $font-family;

  &-rotate {
    animation-duration: 1s;
    animation-name: card-rotate;
    animation-fill-mode: forwards;
  }

  &-top {
    display: flex;
    justify-content: space-between;
  }

  &-body {
    box-sizing: border-box;
  }

  &-number {
    font-family: "JetBrains Mono", monospace;
    color: $color-background;
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;

    &-text {
      font-family: "JetBrains Mono", monospace;
      color: $color-background;
      white-space: nowrap;
    }
  }
}

@keyframes card-rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}