@import "~styles/variables/animations";

.backdrop {
  position: fixed;
  background-color: #00000080;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  touch-action: none;
  will-change: opacity;

  &-animation {
    @include fade-animations(0.4);
  }
}
