@import "~styles/variables/animations";

.backdrop {
  background-color: rgba(50, 50, 50, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  touch-action: none;

  &-animation {
    @include fade-animations(0.4);
  }
}
