$color-primary: #6320ee;
$color-secondary: #8075ff;
$color-accent: #50c878;
$color-danger: #a00707;
$color-success: #2fc26e;
$color-invalid: rgba(224,31,25,.12);
$color-invalid-hover: rgba(224,31,25,.16);
$color-platinum: #eceff1;
$color-lightgray: #e6e6e6;
$color-lightblue: #668fd6;
$color-text: #000000;
$color-background: #ffffff;
$color-gray: #cccccc;
$color-darkgray: #858585;
