@import "~styles/variables/variables";

.checkbox {
  display: inline-block;
  box-sizing: border-box;
  font-family: var(--ep-font-family);
  color: var(--ep-text-color);

  &-fullwidth_available {
    width: 100%;
  }

  &-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
  }

  input {
    display: none;

    &:checked ~ .checkbox-fake.checkbox-fake.checkbox-checkmark-view_default {
      background-color: #545454 !important;
    }

    &:checked ~ .checkbox-fake.checkbox-checkmark-view_primary {
      background-color: $color-primary !important;
    }
    &:checked ~ .checkbox-fake.checkbox-checkmark-view_secondary {
      background-color: $color-secondary !important;
    }
    &:checked ~ .checkbox-fake.checkbox-checkmark-view_accent {
      background-color: $color-accent !important;
    }
    &:checked ~ .checkbox-fake > .checkbox-checkmark:after {
      display: flex;
    }
    &:checked ~ .checkbox-fake > .checkbox-checkmark {
      transform: translateY(0);
      color: #fff;
    }
  }
  .checkbox-fake {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    background-color: #ecf1f7;
    transition: background-color 0.1s;
    cursor: pointer;
    &:hover {
      background-color: darken(#ecf1f7, 5%);
    }
    .checkbox-checkmark {
      display: flex;
      width: 1.5rem;
      height: 1.5rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      color: transparent;

      transition: color 0.1s, transform 0.2s;
      transform: translateY(-5px);

      svg {
        fill: currentColor;
      }
    }
  }

  &-additional {
    gap: 0.5rem;
    user-select: none;
    display: flex;
    align-items: center;
  }
}
