.checkbox {
  &-fake {
    display: inline-flex;
    gap: 0.5rem;
    margin: auto;
    user-select: none;
    cursor: pointer;

    &-checkbox,
    &-label {
      color: var(--ep-text-color);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transform: translate3d(0, 0, 0);
    }

    &-checkbox {
      position: relative;
      width: 1.375rem;
      height: 1.375rem;
      border-radius: 0.5rem;
      transform: scale(1);
      vertical-align: middle;
      background-color: var(--ep-item);
      transition: all 0.25s ease;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: #506eec;
        display: block;
        transform: scale(0);
        opacity: 1;
        border-radius: 50%;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        fill: none;
        stroke: #ffffff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all 0.3s ease;
        transition-delay: 0.1s;
        transform: translate(-50%, -50%);
      }
    }
    &:hover span:first-child {
      background-color: var(--ep-item-hovered);
    }
  }
}

@mixin checkboxTheming($theme, $color) {
  .checkbox-control:checked + .checkbox-fake.#{$theme} {
    span {
      &:first-child {
        background: $color;
        svg {
          stroke-dashoffset: 0;
        }
        &:before {
          opacity: 0;
          transition: all 0.6s ease;
        }
      }
    }
  }
}

@include checkboxTheming(default, #545454);
@include checkboxTheming(primary, var(--ep-color-primary));
@include checkboxTheming(secondary, var(--ep-color-secondary));
@include checkboxTheming(accent, var(--ep-color-accent));
