@import "~styles/variables/variables";
@import "~styles/variables/animations";

.dialog {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0rem;

  &-align {
    &_top {
      top: 2rem;
    }

    &_center {
      align-items: center;
    }
  }

  &-animation {
    @include fade-animations(0.15);
  }

  &-body {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    transition: max-height $transition-duration
      cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 101;
    padding: 1rem;
    border-radius: 2rem;
    overflow: auto;
    overscroll-behavior: contain;
    overflow-y: auto;

    &-animation {
      &-enter {
        transform: scale(0.1);
      }

      &-enter-active {
        transform: scale(1);
        transition: 0.15s transform ease-in-out;
      }

      &-enter-done {
        transform: scale(1);
      }

      &-exit {
        transform: scale(1);
      }

      &-exit-active {
        transform: scale(1.25);
        transition: 0.15s transform ease-in-out;
      }
    }

    &-size {
      &_xs {
        max-width: $small-mobile-device;
      }

      &_sm {
        max-width: $large-mobile-device;
      }

      &_md {
        max-width: $small-tablet-device;
      }

      &_lg {
        max-width: $large-tablet-device;
      }

      &_xl {
        max-width: $large-laptop-device;
      }

      &_fluid {
        max-width: initial;
        width: 95%;
        height: 90%;
      }

      &_page {
        max-width: initial;
        width: 100%;
        height: 100%;
      }
    }
  }
}
