@import "~styles/variables/variables";
@import "~styles/variables/animations";

.dialog {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0rem;
  font-family: var(--ep-font-family);
  color: var(--ep-text-color);

  &-align {
    &_top {
      top: 2rem;
    }

    &_center {
      align-items: center;
    }
  }

  &-animation {
    @include fade-animations(0.15);
  }

  &-content {
    overscroll-behavior: contain;
    max-height: calc(80vh - 200px);
    overflow-y: auto;
    scroll-behavior: auto;
    padding: 0.625rem 1rem;

    &::-webkit-scrollbar {
      width: 0.3125rem;
      height: 0.3125rem;
      display: block;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.3125rem;
      background-color: var(--ep-text-color);
    }

    &::selection {
      background: #2564ff26;
    }
  }

  &-close {
    position: absolute;
    right: -0.3125rem;
    top: -0.3125rem;
    transition: all 0.25s ease;

    &-button {
      gap: 0;
      width: 2.25rem;
      height: 2.25rem;
    }

    &:hover {
      right: 0;
      top: 0;
    }
  }

  &-body {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background-color: var(--ep-background-color);
    flex-direction: column;
    transition: max-height $transition-duration
      cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 101;
    padding: 1rem;
    border-radius: 2rem;

    &-animation {
      &-enter {
        transform: scale(0.1);
      }

      &-enter-active {
        transform: scale(1);
        transition: 0.15s transform ease-in-out;
      }

      &-enter-done {
        transform: scale(1);
      }

      &-exit {
        transform: scale(1);
      }

      &-exit-active {
        transform: scale(1.25);
        transition: 0.15s transform ease-in-out;
      }
    }

    &-size {
      &_xs {
        max-width: $small-mobile-device;
      }

      &_sm {
        max-width: $large-mobile-device;
      }

      &_md {
        max-width: $small-tablet-device;
      }

      &_lg {
        max-width: $large-tablet-device;
      }

      &_xl {
        max-width: $large-laptop-device;
      }

      &_fluid {
        max-width: initial;
        width: 95%;
        height: 90%;
      }

      &_page {
        max-width: initial;
        width: 100%;
        height: 100%;
      }
    }
  }
}
