@import "../../styles/variables/screen";
@import "../../styles/variables/colors";

.island {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;

  &-size {
    &_xs {
      max-width: $small-mobile-device;
    }

    &_sm {
      max-width: $large-mobile-device;
    }

    &_md {
      max-width: $small-laptop-device;
    }

    &_lg {
      max-width: $large-laptop-device;
    }

    &_xl {
      max-width: $large-pc-device;
    }
  }

  &-type {
    &_shadow {
      transition: box-shadow, transform .3s ease-in-out;
      box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04),
        0 4px 32px rgba(18, 17, 36, 0.08);
    }

    &_border {
      border: 1px solid $color-lightgray;
    }
  }

  &-align {
    &_left {
      margin-right: auto;
    }
    &_center {
      margin-left: auto;
      margin-right: auto;
    }
    &_right {
      margin-left: auto;
    }
  }

  &-hoverable:hover {
    box-shadow: 0 2px 8px rgba(18, 17, 36, 0.1),
      0 4px 32px rgba(18, 17, 36, 0.2);
    transform: translateY(-0.25rem);
  }
}
