@import "~styles/variables/screen";
@import "~styles/variables/colors";

.island {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--ep-box-background-color);
  color: var(--ep-text-color);

  &-size {
    &_xs {
      max-width: $small-mobile-device;
    }

    &_sm {
      max-width: 25rem;
    }

    &_md {
      max-width: $small-laptop-device;
    }

    &_lg {
      max-width: $large-laptop-device;
    }

    &_xl {
      max-width: $large-pc-device;
    }
  }

  &-type {
    &_shadow {
      box-shadow: var(--ep-box-shadow);
      transition: box-shadow, transform 0.3s ease-in-out;
    }

    &_border {
      border: 1px solid $color-lightgray;
    }
  }

  &-align {
    &_left {
      margin-right: auto;
    }
    &_center {
      margin-left: auto;
      margin-right: auto;
    }
    &_right {
      margin-left: auto;
    }
  }

  &-hover {
    &_scale:hover {
      transform: scale(1.02);
    }

    &_translateY:hover {
      transform: translateY(-0.25rem);
    }
  }
}
