@import "~styles/variables/variables";

.heading {
  &-size {
    &_xxl {
      font: $font-heading-1;
    }

    &_xl {
      font: $font-heading-2;
    }

    &_lg {
      font: $font-heading-3;
    }

    &_md {
      font: $font-heading-4;
    }

    &_sm {
      font: $font-heading-5;
    }

    &_xs {
      font: $font-heading-6;
    }
  }
}
