@import "~styles/variables/variables";

.input {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  font-family: $font-family;

  &-wrapper {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
  }

  &.input-size {
    &_md {
      .input-label {
        font-size: 1rem;
        &-active {
          font-size: 0.8125rem;
        }
      }

      &_xl {
        .input-label {
          font-size: 1.5rem;

          &-active {
            font-size: 1rem;
          }
        }
      }
    }
  }

  &-label {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    left: 1rem;
    pointer-events: none;
    transition: all $transition-duration $transition-type;
    user-select: none;
    color: var(--ep-text-color);

    &-active {
      top: 1rem;

      &.input-label-invalid {
        color: #e31c1c;
      }
    }
  }

  &-control {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    // height: 3.85rem;
    height: 56px;
    font-size: 1rem;
    vertical-align: top;
    background-color: var(--ep-item);
    transition-property: background-color, border-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    outline: none;
    padding: 2rem 1rem 1rem 1rem;
    font-family: inherit;
    color: var(--ep-text-color);

    &-invalid {
      background-color: $color-invalid;

      &:hover {
        background-color: $color-invalid-hover !important;
      }
    }

    &:hover {
      background-color: var(--ep-item-hovered);
    }

    &:focus {
      background-color: var(--ep-item);
      border: 1px solid $color-darkgray;

      &.input-control-invalid {
        border: 1px solid #f52222;
      }
    }
  }

  &-validator {
    color: $color-danger;
    transition: all $transition-duration $transition-type;
    opacity: 0;
    padding-top: 5px;

    &-show {
      transition-delay: 0.1s;
      opacity: 1;
    }
  }

  &-left {
    display: inline-flex;
    height: 100%;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
  }

  &-right {
    display: inline-flex;
    height: 100%;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
  }
}
