.notification {
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  min-height: 56px;
  font-weight: 400;
  line-height: 1.6;
  border-radius: 1rem;
  transition: transform 0.25s ease;
  padding: 1rem 1rem 1rem 1rem;
  // padding: 1rem 52px 1rem 52px;
  user-select: none;
  color: var(--ep-text-color);
  background-color: var(--ep-background-color);
  // background-color: #0b1f35;
  // box-shadow: 0 4px 16px rgb(11 31 53 / 12%), 0 1px 2px rgb(11 31 53 / 24%);
  box-shadow: var(--ep-popup-shadow);
  box-sizing: border-box;

  &:hover {
    transform: translate(0, 3px);
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-left {
    display: flex;
    gap: 0.75rem;
  }

  &-closing {
    transform: translate(0, -100%) !important;
  }

  &__title {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
  }

  &__content {
    margin-top: 0.5rem;
    font-size: 0.8125rem;
  }

  &__closer {
    button {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;

      svg {
        fill: #959ea7;
        transition: 0.25s ease;

        &:hover {
          fill: #fff;
        }
      }
    }
  }
}
