@import "~styles/variables/colors";

.notification {
  position: relative;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  min-height: 56px;
  font-weight: 400;
  line-height: 1.6;
  border-radius: 1rem;
  transition: transform 0.25s ease;
  padding: 1rem 1rem 1rem 1rem;
  user-select: none;
  color: var(--ep-text-color);
  background-color: var(--ep-background-color);
  box-shadow: var(--ep-popup-shadow);
  box-sizing: border-box;
  overflow: hidden;

  &:hover {
    transform: translate(0, 3px);
  }

  &-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    transition: all 0.25s ease;
    background-color: #fff;
  }

  &-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &-left {
    display: flex;
    gap: 0.75rem;
  }

  &-closing {
    transform: translate(0, -100%) !important;
  }

  &__title {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
  }

  &__content {
    margin-top: 0.5rem;
    font-size: 0.8125rem;
  }

  &__closer {
    button {
      position: absolute;
      border: 0;
      background-color: transparent;
      top: 8px;
      right: 8px;
      transform: scale(0.75);
      padding: 0;
      cursor: pointer;
    }

    &-icon_close::before,
    &-icon_close::after {
      background: var(--ep-text-color);
      content: "";
      position: absolute;
      width: 1rem;
      height: 0.125rem;
      border-radius: 0.125rem;
      transition: all 0.3s ease;
    }

    &-icon_close {
      width: 1.875rem;
      height: 1.875rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: all 0.25s ease;

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }

      &:hover::before,
      &:hover::after {
        width: 12px;
        transform: rotate(180deg);
      }
    }
  }
}
